.img-style{
    border-radius: 16%;
    border-color: #7f8bb9;
    border-width: 10px;
    width: 100%;
}

.control {
 
    /* width: 100%; */
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem; 
     font-size: 1rem; 
     font-weight: 400; 
     line-height: 1.5; 
  color: #6e707e; 
  background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ENFERMERIA {
    
    background: #05e3be;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
     /* border: 2px solid #5a5c69; */
    border-radius: 16px;
    text-align:center;
    width: 50%;
    margin: 20px;
    display: inline-block;
    
    }
    .GASTRONOMIA {
    background: #c2b7f2;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
     /* border: 2px solid #5a5c69; */
    border-radius: 16px;
    text-align:center;
    width: 50%;
    margin: 20px;
    display: inline-block;
    
    }
    .AGROINDUSTRIAL{
    background: #C9F2B7;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
     /* border: 2px solid #5a5c69; */
    border-radius: 16px;
    text-align:center;
    width: 50%;
    margin: 20px;
    display: inline-block;
    }
    .BIOTECNOLOGIA{
    background: #f9bd93;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
    /* border: 2px solid #5a5c69; */
    border-radius: 16px;
    text-align:center;
    width: 50%;
    margin: 20px;
    display: inline-block;
    
    }
    .VETERINARIA
    {
    background: #fbf4136b;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
     /* border: 2px solid #5a5c69; */
    border-radius: 16px;
    text-align:center;
    width: 50%;
    margin: 20px;   
    display: inline-block;
    }
    .soon 
    {
    background: #eff2b7;
    color: #5a5c69;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #5a5c69;
    border-radius: 6px;
    text-align:center;
    width: 97%;
    margin: 20px; 
    display: inline-block;
    
    }
    .pdf 
    {
        background: #7178df;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        padding: 15px;
        /*border: 2px solid #5a5c69;*/
        border-radius: 16px;
        text-align:center;
        width: 50%;
        margin: 20px;  
        display: inline-block;
        display: inline-block;
    
    }
    /* colores para tabla */
    .enfermeria {
         font-weight: bold; padding: 15px; border-left:20px solid #05e3be;
    }
    .cocina {
         font-weight: bold; padding: 15px; border-left:20px solid #c2b7f2;
    }
    .farmaceutico {
        font-weight: bold; padding: 15px; border-left:20px solid #C9F2B7;
    }
    .mascotas {
        font-weight: bold; padding: 15px; border-left:20px solid #fbf4136b; 
    }
    .jugueteria {
        font-weight: bold; padding: 15px; border-left:20px solid #f9bd93;
    }
    .automovilstico {
        font-weight: bold; padding: 15px; border-left:20px solid #5a5c698c;
    }
    .vestimenta {
        font-weight: bold; padding: 15px; border-left:20px solid #7f8bb9;
    }
    .telefonia {
        font-weight: bold; padding: 15px; border-left:20px solid #b7ccf2;
    }
    .deportes {
        font-weight: bold; padding: 15px; border-left:20px solid #eff2b7;
    }
 